
        {% extends "toolbar.html" %}
      {%block content%}
      <head>
        <title>
          Contact Information
        </title>
      </head>
      <h1>
          Welcome!
      </h1>
      <h2>
          I am currently studying computer science and aeronautics.
      </h2>
      <h3>
          If your are interested in learning more or want to contanct me:
      </h3>
      
      <p>
        Email: thelastquiz@gmail.com<br>
        Github: thelastquiz<br>
        
      </p>
      
      <!-- put stuff here-->
      {%endblock%}