<!DOCTYPE html> 
<!--gonna put the toolbar here like i did with the ast app just gonna move some names around-->

<html>
    <head> 
        
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body style='background-image: url("/static/pictures/background2.jpg");'>
        <nav class="navbar navbar-expand-sm bg-dark justify-content-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">About me</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="/pagetwo">other info</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/myprojects">Examples Of My Work</a>
            </li>
            </ul>
        </nav>

        </div>
        {%block content%}
        {% endblock%}
    </body>
</html>
